<nav class="navbar navbar-default navbar-fixed-top hidden-lg hidden-md hidden-sm">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/images/uploads/logoHQ.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <li><a class="linkTo" href="#vare-tjenester">Våre tjenester</a></li>
                <li><a class="linkTo" href="#nettbaserte-losninger">Nettbaserte løsninger</a></li>
                <li><a class="linkTo" href="#ansatte">Medarbeidere</a></li>
                <li><a class="linkTo" href="#kontakt-oss"> Kontakt oss</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

	</div><!-- /.container -->
</nav>

<nav class="navbar navbar-default hidden-xs">
	<div class="container">
	<!-- navbar-sm-md-lg -->
		<div class="custom-nav">
			<ul class="nav navbar-nav  navbar-1">
				<li><a class="linkTo" href="#vare-tjenester">Våre tjenester</a></li>
				<li><a class="linkTo" href="#nettbaserte-losninger">Nettbaserte løsninger</a></li>

			</ul>

			<a class="logo" href="#"><img class="logo-img" src="/images/uploads/logoHQ.png"/></a>

			<ul class="nav navbar-nav navbar-2">
				<li><a class="linkTo" href="#ansatte">Medarbeidere</a></li>
				<li><a class="linkTo" href="#kontakt-oss"> Kontakt oss</a></li>
			</ul>
			<!-- end navbar-sm-md-lg -->
		</div>
	</div><!-- /.container -->
</nav>