<h1></h1>
<section class="team" id="ansatte">
	<div class="container">
		<h2>{{ .heading1 }}</h2>
		<div class="team-members-1">
			{{ range .team1 }}
				<div class="team-member">
					<img class="img-responsive" src="{{ .image }}"/>
					<h5>{{ .name }}</h5>
					<p>{{ .role }}</p>
					<p><span>Tlf.:</span> <a href="tel:{{ .tlf }}">{{ .tlf }}</a></p>
					<p><span>Email:</span> <a href="mailto:{{ .email }}">{{ .email }}</a></p>
					<p>{{ .description | safeHTML }}</p>
				</div>
			{{ end }}	
				
		</div>
		<h2>{{ .heading2 }}</h2>
		<div class="team-members-2">
			{{ range .team2 }}
				<div class="team-member">
					<img class="img-responsive" src="{{ .image }}"/>
					<h5>{{ .name }}</h5>
					<p>{{ .role }}</p>
					<p><span>Tlf.:</span> <a href="tel:{{ .tlf }}">{{ .tlf }}</a></p>
					<p><span>Email:</span> <a href="mailto:{{ .email }}">{{ .email }}</a></p>
					<p>{{ .description | safeHTML }}</p>
				</div>
		
			{{ end }}
				
		</div>
	</div>
</section>